.server {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 25px;
    background-color: rgba(25, 30, 33, 0.88);
    width: 200px;
    height: 150px;
    border-radius: 25px;
}


.serverTitle {
    margin: 5px;
}

.serverLogo {
    width: 80px;
    height: 80px;
    margin: 5px;
}

.statusSuccess {
    box-shadow: 0px 0px 35px 0px rgba(9,140,34,0.7);
    -webkit-box-shadow: 0px 0px 35px 0px rgba(9,140,34,0.7);
    -moz-box-shadow: 0px 0px 35px 0px rgba(9,140,34,0.7);
    cursor: pointer;
    transition: all 0.2s;
}

.statusSuccess:hover {
    transition: all 0.2s;
    transform: scale(1.02);
}


.statusError {
    box-shadow: 0px 0px 30px 0px rgba(140,9,9,0.7);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(140,9,9,0.7);
    -moz-box-shadow: 0px 0px 30px 0px rgba(140,9,9,0.7);
    pointer-events: none;
    opacity: 0.75;
    transition: all 0.2s;
}

.statusError img{
    filter: grayscale(1);
}

.statusPing {
    box-shadow: 0px 0px 30px 0px rgba(0,105,201,0.7);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,105,201,0.7);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,105,201,0.7);
    pointer-events: none;
    animation: pingServer 1.5s ease-in-out 0s infinite alternate forwards;
}



@keyframes pingServer {
	0% {
		box-shadow: 0px 0px 30px 0px rgba(0,105,201,0.7);
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0,105,201,0.7);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0,105,201,0.7);
	}

	50% {
		box-shadow: -1px -1px 30px 7px rgba(0,105,201,0.7);
        -webkit-box-shadow: -1px -1px 30px 7px rgba(0,105,201,0.7);
        -moz-box-shadow: -1px -1px 30px 7px rgba(0,105,201,0.7);
	}

	100% {
		box-shadow: 0px 0px 30px 0px rgba(0,105,201,0.7);
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0,105,201,0.7);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0,105,201,0.7);
	}
}